/*imported files */
/* Reseting predefined CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans Condensed", sans-serif; }

html,
body {
  height: 100%; }

/* File only for the logo */
.header_logo {
  margin-left: 30px;
  letter-spacing: 1px; }

/* used clip_path to make the logo look like a circle */
.circle_logo {
  display: inline-block;
  text-align: center;
  padding: 10px;
  width: 60px;
  background-color: #BD2512;
  clip-path: circle(50% at 50% 50%);
  letter-spacing: 2px; }

/* Header */
.main_header {
  background-color: #5B1919;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px; }

.ref_box {
  margin-right: 30px; }

/* Navbar */
.main_nav {
  height: 40px;
  background-color: #191919; }

.nav_links, .footer_links {
  height: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center; }

.nav_links > li > a, .footer_links > li > a {
  color: white;
  text-decoration: none;
  padding-left: 30px;
  font-size: 1.5em; }

/* Style Main Content */
/* Main Container */
main {
  margin: 0 auto;
  width: 95%; }

/* Main Content */
.date {
  text-align: right;
  font-size: 0.8em;
  padding: 5px 0; }

.br_line {
  display: flex;
  align-items: center;
  background-color: #DDDDDD;
  height: 30px;
  font-size: 1.5em;
  padding-left: 10px; }

/* Start Style News Box One */
.wrapper {
  display: flex;
  margin-top: 10px; }

.news_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin-right: 15px; }

.box,
.box3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.box2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px; }

.box2_news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px; }

.news_ticker {
  position: relative;
  width: 31%;
  min-width: 202px;
  transition: transform 0.5s; }

.news_ticker:hover,
.news_ticker_two:hover {
  transform: scale(1.1); }

.text-block {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;
  width: 100%;
  opacity: 0.7;
  padding-left: 2px;
  font-size: 1.1em;
  min-height: 60px;
  font-weight: bold; }

.news_ticker img {
  width: 100%;
  height: 100%; }

/* Ad banner only visible on tablet and phones */
.mobile_ad {
  display: none; }

/* Ad Banner at the side */
.banner_box1,
.banner_box1 a {
  width: 10%; }

.banner_box1 img {
  width: 100%;
  height: 100%; }

/* Ad Baner at the center */
.banner_box2 {
  margin-top: 20px;
  text-align: center; }

.banner_box2 img {
  width: 90%;
  height: 100%; }

/* START Style News Box Two */
.news_ticker_two {
  width: 48%;
  position: relative;
  transition: transform 0.5s; }

.news_ticker_two img {
  width: 100%;
  height: 100%; }

.box4 {
  margin-top: 20px; }

.mobile_view2 {
  display: none; }

.wrapper_three {
  width: 100%; }

.main_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px; }

.video_header {
  border-bottom: 3px solid grey; }

.vid {
  width: 50%;
  height: 400px;
  filter: grayscale(100%); }

.vid iframe {
  width: 100%;
  height: 100%; }

.vid:hover {
  filter: grayscale(0); }

/* Style main content */
.wrapper_two {
  display: flex;
  flex-direction: column; }

.article_header, .video_header {
  text-align: center;
  margin-top: 25px;
  font-size: 3em;
  border-bottom: 3px solid grey; }

article {
  display: flex;
  align-items: center;
  margin: 40px 10px;
  background-color: #eaeaea;
  border-radius: 8px;
  box-shadow: 10px 10px 5px silver; }

.article_img {
  padding: 10px;
  width: 30%;
  height: 100%; }

.article_img img {
  width: 100%;
  height: 100%; }

.articel_txt {
  text-align: justify;
  width: 70%;
  padding: 10px;
  overflow: scroll; }

.articel_txt h2 {
  font-size: 2em;
  text-decoration: underline; }

.wrapper_four {
  width: 100%; }

.content {
  margin-top: 30px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center; }

.content > a {
  width: 45%;
  margin: 10px;
  text-decoration: none;
  color: black; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  margin-top: 15px; }

.card > img {
  width: 100%; }

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.container {
  padding: 2px 16px; }

/* Footer */
/* Footer */
footer {
  margin-top: 60px;
  background-color: #191919;
  color: white; }

.footer_links {
  align-items: start;
  font-size: 0.8em;
  padding-top: 10px;
  height: auto; }

.footer_logo {
  margin: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.copyright {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 5px; }

/* Import of Media Queries Files */
@media screen and (max-width: 1150px) {
  .wrapper_two {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; }

  article {
    display: flex;
    flex-direction: column;
    width: 46%;
    height: 700px;
    overflow: scroll; }

  .article_img {
    padding: 10px;
    width: 100%;
    height: 100%;
    max-height: 300px; }

  .articel_txt {
    text-align: center;
    width: 100%;
    padding: 10px; }

  .article_img img {
    width: 100%;
    min-height: 200px; }

  .text-block {
    font-size: 0.8em; } }
@media screen and (max-width: 768px) {
  .main_header {
    display: flex;
    flex-direction: column;
    height: auto; }

  .header_logo {
    padding: 10px; }

  .ref_box {
    margin: 0;
    width: 100%; }

  .ref_box img {
    width: 100%;
    height: 100%; }

  .nav_links, .footer_links {
    display: flex;
    justify-content: center; }

  .banner_box1 {
    display: none; }

  .news_box {
    width: 100%; }

  .news_box {
    margin: 0; }

  .box,
  .box2_news {
    display: flex;
    flex-wrap: wrap; }

  .news_ticker {
    width: 48%;
    margin-top: 25px; }

  .footer_logo {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }

  article {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; }

  .article_img img {
    width: 100%;
    min-height: 200px; }

  .mobile_ad {
    display: block; }

  .mobile_view1 {
    display: none; }

  .mobile_view2 {
    display: block; }

  .main_content {
    display: flex;
    flex-direction: column; }

  .vid {
    width: 100%;
    height: 350px; }

  .content > a {
    width: 45%;
    margin: 10px; } }
@media screen and (max-width: 445px) {
  .main_header {
    display: block;
    padding: 10px; }

  .ref_box {
    display: none; }

  .nav_links, .footer_links {
    display: flex;
    justify-content: center; }

  .date {
    display: none; }

  .br_line {
    margin-top: 10px; }

  .news_ticker {
    width: 100%; }

  .news_ticker_two {
    width: 100%; }

  .banner_box2 {
    display: none; }

  .mobile_ad {
    display: none; }

  .box3 {
    flex-wrap: wrap; }

  .ticker {
    margin: 20px 0; }

  .news_ticker:hover,
  .news_ticker_two:hover {
    transform: scale(1); }

  .article_header, .video_header {
    font-size: 2em; }

  .content > a {
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
