@media screen and (max-width: 445px) 
    .main_header
        display: block
        padding: 10px
    
    .ref_box
        display: none
    
    .nav_links 
        display: flex
        justify-content: center 

    .date 
        display: none

    .br_line
        margin-top: 10px
    
    .news_ticker
        width: 100%
    
    .news_ticker_two
        width: 100%

    .banner_box2 
        display: none

    .mobile_ad 
        display: none

    .box3
        flex-wrap: wrap
    
    .ticker 
        margin: 20px 0

    .news_ticker:hover,
    .news_ticker_two:hover
        transform: scale(1)

    .article_header
        font-size: 2em

    .content > a 
        width: 100%
    


